apiVersion: v1
kind: Service
metadata:
  name: jenkins
  labels:
    app: jenkins
    tier: cicd
spec:
  type: NodePort
  selector:
    app: jenkins
  ports:
    - name: http
      port: 8080
      targetPort: http
      nodePort: 32080
    - name: agent
      port: 50000
      targetPort: agent


