apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: logging-pvc
  labels:
    app: logging
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 30Gi
  volumeName: logging-pv


