apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: monitoring-pvc
  labels:
    app: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 20Gi
  volumeName: monitoring-pv


