apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  labels:
    app: alertmanager
spec:
  type: NodePort
  ports:
    - name: http
      port: 9093
      targetPort: 9093
      nodePort: 30903
      protocol: TCP
  selector:
    app: alertmanager

