apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-exporter
  labels:
    app: elasticsearch-exporter
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9114
      targetPort: 9114
      protocol: TCP
  selector:
    app: elasticsearch-exporter

