apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: grafana
    component: server
spec:
  type: NodePort
  selector:
    app: grafana
    component: server
  ports:
    - name: http
      port: 3000
      targetPort: http
      nodePort: 30300


