apiVersion: v1
kind: Service
metadata:
  name: prometheus
  labels:
    app: prometheus
    component: server
spec:
  type: NodePort
  selector:
    app: prometheus
    component: server
  ports:
    - name: http
      port: 9090
      targetPort: http
      nodePort: 30900


