apiVersion: v1
kind: Service
metadata:
  name: fluentd
  labels:
    app: fluentd
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 24231
      targetPort: 24231
      protocol: TCP
  selector:
    app: fluentd

