apiVersion: v1
kind: Namespace
metadata:
  name: production
  labels:
    name: production
    purpose: application-deployment
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
    purpose: observability
---
apiVersion: v1
kind: Namespace
metadata:
  name: logging
  labels:
    name: logging
    purpose: log-aggregation
---
apiVersion: v1
kind: Namespace
metadata:
  name: cicd
  labels:
    name: cicd
    purpose: continuous-integration

